@import "../../theme.scss";

$diameter: 1.2em;

.loading-dots__container{
  display: flex;
  padding: 1em 2em;
  .loading-dots__dot {
    $time: .8s;
    height: $diameter;
    width: $diameter;
    border-radius: 50%;
    background-color: $fontColor;
    margin: 0 .4em;
    animation: scaleBounce $time cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
    &.dot--2 {
      animation-delay: calc($time / 6);
    }
    &.dot--3 {
      animation-delay: calc($time / 3);
    }
  }
}

@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
