@import "../../theme.scss";

.hash-stats {
  .stat {
    margin-bottom: .3em;
  }
  .views-stat .icon {
    background-color: $viewsIcon;
  }
  .destination-stat .icon {
    background-color: $urlIcon;
  }
  .delete-button {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: $deleteIcon;
    color: $fontColor;
    padding: .6em .8em;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: darken($deleteIcon, 5%);
    }
    &:active {
      background-color: darken($deleteIcon, 10%);
    }
    .caption {
      flex-grow: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-family: inherit;
      font-size: .85rem;
    }
  }
}