@import "../../theme.scss";

.result-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  >div:not(:last-child){
    margin-bottom: .3em;
    width: 100%;
  }
  .full-url {
    .icon:first-child{
      background-color: $urlIcon;
    }
  }
  .password {
    .icon:first-child {
      background-color: $passIcon;
    }
  }
  .link-already-created-message{
    margin-top: .5em;
    text-align: center;
    max-width: 500px;
  }
  .hash-stats {
    margin-top: 1em;
    a {
      color: $urlIcon;
    }
  }
}